@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Climate+Crisis&family=La+Belle+Aurore&family=Manjari:wght@700&family=Raleway:wght@400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,400;0,500;1,500&family=Sedgwick+Ave+Display&family=Sunshiney&family=Unbounded:wght@500;600;700&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;


  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  /*background-image: url("https://images.pexels.com/photos/3536278/pexels-photo-3536278.jpeg?auto=compress&cs=tinysrgb&w=800"); */
}

@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
